@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Rubik+Vinyl&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1e1e1e;
    color: #cccccc;
    animation: bg-color 20s infinite linear;
}

@keyframes bg-color{
    0%{
        background-color: #00001e;
    }
    33%{
        background-color: #001022;
    }
    67%{
        background-color: #100022;
    }
    100%{
        background-color: #00001e;
    }
}

.movie-card{
    height: 65vh;
    margin-top: 5rem;
    background: 
        linear-gradient(to right, #20204a calc((50vw - 170px) - 340px), 
        #20204ad6 40%, #20204ad6 100%),
        url("../img/img2.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5rem #2100b633;
}

.movie-poster-container{
    height: 85%;
    width: 30%;
    text-align: center;
    position: relative;
    left: -50rem;
    animation: slide-from-left 1.5s ease-in-out forwards;
}

@keyframes slide-from-left{
    80%{
        left: 0.5rem;
    }
    100%{
        left: 0rem;
    }
}

.movie-poster{
    height: 100%;
    border-radius: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.movie-poster:hover{
    transform: scale(1.025);
    box-shadow: 1rem 1rem 1rem -0.5rem #090929;
    transition: 0.5s;
}

.movie-info-container{
    height: 100%;
    width: 70%;
    padding-top: 2rem;
    overflow: hidden;
}

.movie-info-container > *:not(.movie-info-title){
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes fade-in{
    100%{
        opacity: 1;
    }
}

.movie-info-title{
    margin-top: 2rem;
    text-transform: capitalize;
    transform: translateY(-15rem);
    animation: slide-from-top 1.5s ease-in-out forwards;
}

@keyframes slide-from-top{
    80%{
        transform: translateY(0.25rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

.movie-genres{
    margin-top: 1.25rem;
}

.movie-rating{
    border: 1px solid #808080;
    border-radius: 0.25rem;
    color: #808080;
    padding: 0.25rem;
}

.movie-duration{
    margin: 1rem;
    letter-spacing: 0.1rem;
}

.movie-duration:before{
    content: "\2022";
}

.movie-info-actions{
    font-size: 1.1rem;
}

.movie-info-actions ul{
    list-style: none;
    margin-top: 1rem;
}

.movie-info-actions ul li{
    display: inline-block;
    margin-right: 2rem;
    background-color: #111131;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.movie-info-actions ul li a{
    text-decoration: none;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: all 0.25s;
}

.movie-info-actions ul li a:hover{
    transform: scale(1.25);
}

#m-a1:hover{
    color: #cc0000;
}

#m-a2:hover{
    color: #683a14;
}

#m-a3:hover{
    color: #cccc00;
}

.movie-info-actions ul li a:active{
    transform: scale(1.1);
}

.movie-info-quote{
    font-style: italic;
    color: #808080;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.movie-info-overview-title{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.movie-info-overview{
    width: 55%;
}

.movie-info-people{
    margin-top: 2rem;
    list-style: none;
}

.movie-info-people li{
    margin-right: 10rem;
}

.movie-info-people li p:first-child{
    font-weight: 700;
}

.close-btn{
    margin-top: -3.5rem;
    margin-right: -2.5rem;
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.close-btn:hover{
    transform: scale(1.25);
    transition: 0.25s;
    color: #ffffff;
}

.movie-poster-modal{
    height: 45vh;
    border-radius: 1rem;
    margin: 0.75% 3.75%;
}

footer{
    margin-top: 2rem;
    text-align: center;
    color: #808080;
    opacity: 0;
    animation: fade-in-footer 1s ease-in-out forwards;
    animation-delay: 1.25s;
}

@keyframes fade-in-footer{
    100%{
        opacity: 1;
    }
}

footer ul li{
    display: inline-block;
    margin: 2rem 2rem;
    font-size: 1.5rem;
}

footer li a{
    color: #808080;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
}

footer li a:hover{
    color: #cccccc;
    transition: 0.25s;
}