@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1e1e1e;
    color: #cccccc;
}

.movie-card{
    height: 65vh;
    margin-top: 5rem;
    background: 
        linear-gradient(to right, #20204a calc((50vw - 170px) - 340px), 
        #20204ad6 40%, #20204ad6 100%),
        url("../images/img2.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5rem #2100b633;
}

.movie-poster-container{
    height: 85%;
    width: 30%;
    text-align: center;
}

.movie-poster{
    height: 100%;
    border-radius: 1rem;
    margin-right: 2rem;
}

.movie-info-container{
    height: 100%;
    width: 70%;
    padding-top: 2rem;
}

.movie-info-title{
    margin-top: 2rem;
    text-transform: capitalize;
}

.movie-genres{
    margin-top: 1.25rem;
}

.movie-rating{
    border: 1px solid #808080;
    border-radius: 0.25rem;
    color: #808080;
    padding: 0.25rem;
}

.movie-duration{
    margin: 1rem;
    letter-spacing: 0.1rem;
}

.movie-duration:before{
    content: "\2022";
}

.movie-info-actions{
    font-size: 1.1rem;
}

.movie-info-actions ul{
    list-style: none;
    margin-top: 1rem;
}

.movie-info-actions ul li{
    display: inline-block;
    margin-right: 2rem;
    background-color: #111131;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.movie-info-actions ul li a{
    text-decoration: none;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.movie-info-quote{
    font-style: italic;
    color: #808080;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.movie-info-overview-title{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.movie-info-overview{
    width: 55%;
}


.movie-info-people{
    margin-top: 2rem;
    list-style: none;
}

.movie-info-people li{
    margin-right: 10rem;
}

.movie-info-people li p:first-child{
    font-weight: 700;
}

footer{
    margin-top: 2rem;
    text-align: center;
    color: #808080;
}

footer ul li{
    display: inline-block;
    margin: 2rem 2rem;
    font-size: 1.5rem;
}

footer li a{
    color: #808080;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
}